.productName{
    text-align: center;
}

a { 
    color: black;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 0px;
}

:hover {
    color: grey;
}

a:hover{
    opacity: 0.5;
}

img { 
    width:80%;
    position: relative;
    display:block;
    margin:auto;
}

.col-3{
    padding-left: 5px;
    padding-right: 5px;
}

.clearfix {
    height: 120px;
}



/* #pagination{
  margin: auto;
  width: 50%;
} */