<div class="checkout">
      
<!-- Added products overview-->

 
<!-- -->
  
    





    <!-- Buttons -->
    <div class="container-fluid" style="position: absolute; bottom: 0;">
    <div class="row">
        <a class="checkoutBtn"   href="">
            <div class="col-12 checkoutBtn">
                <i class="fa fa-shopping-cart"></i>  Checkout
            </div>
        </a>
    </div>
    <div class="row">
        <a class="addDiscountBtn" href="#">
            <div class="col-6-xs addDiscountBtn">
                % Add Discount
            </div>
        </a>
        <a class="cancelBtn" href="#">
            <div class="col-6-xs cancelBtn">
                <i class="fa fa-ban"></i> Cancel
            </div>
        </a>
        </div>
    </div>
</div>
