<div class="checkout">
<div class="container-fluid" style="position: absolute; bottom: 0;">
    <div class="row">
        <div class="col-12" style="background-color: #0090e3; height: 50px;" >
            Checkout
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="background-color:#f8ac59; height: 50px;">
            % Add Discount
        </div>
        <div class="col-6" style="background-color: #ed5565; height: 50px;">
            Cancel
        </div>
        </div>
    </div>
</div>
