<div class="checkout">
      
<!-- Added products overview-->

 
<!-- -->
 <div class="checkout-list" style="padding: 15px;">
    <div class="container-fluid" style="padding-left: 0px;">
        <div class="row">
        <div class="col-4">Product name</div>
        <div class="col-2">Amount</div>
        <div class="col-3">Price</div>
        <div class="col-2">Total</div>
    </div>
        </div>
    
    <hr style="background-color: white;">
    
    <div class="container-fluid" style="padding-left: 0px;">
    <div class="row">
        <div class="col-4">Big professional Crystal</div>
        <div class="col-2">1</div>
        <div class="col-3">$189,99</div>
        <div class="col-2">$189,99</div>
    </div>
    
        </div>
        
 </div>
    
    
     <!-- Buttons -->
    <div class="container-fluid" style="position: absolute; bottom: 0;">
        <div class="row">
            <a class="checkoutBtn"   href="">
                <div class="col-12 checkoutBtn">
                    <i class="fa fa-shopping-cart"></i>  Checkout
                </div>
            </a>
        </div>
        <div class="row">
            <a class="addDiscountBtn" href="#">
                <div class="col-6-xs addDiscountBtn">
                    % Add Discount
                </div>
            </a>
            <a class="cancelBtn" href="#">
                <div class="col-6-xs cancelBtn">
                    <i class="fa fa-ban"></i> Cancel
                </div>
            </a>
            </div>
    </div>
 </div>

    