<div class="container-fluid" style="overflow-y: hidden; overflow-x:hidden;">
  <div class="row">
    <div class="col-12" style="padding-left: unset; padding-right: unset;">
      <app-header></app-header>
    </div>
  </div>
    <div class="row"> 
      <div class="col-8">
        <app-toggle-bar (showHide)=onShowHide($event)></app-toggle-bar>
        <div [hidden]="isDisplay" class="touchView">
          <app-touch-view></app-touch-view>
        </div>
        <div [hidden]="!isDisplay" class="keyboardView">
          <app-keyboard-view></app-keyboard-view>
        </div>
          <div class="footer"> 
            <div class="container">
              <p class="text-muted"> Developed by Vesta Group</p>
            </div>
          </div>
       

    </div>
      <div class="col-4  checkout">
        <app-checkout></app-checkout>
      </div>
    </div>
</div>
    
