.container-fluid {
    padding-right:unset;
    padding-left:unset;
    margin-right:auto;
    margin-left:auto
 }
 .row{
    padding-right:unset;
    padding-left:unset;
    margin-right:auto;
    margin-left:auto 
 }
 
 