.row.productTable{
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}
.col.tableItem{
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);

}
/* .btn.btn-addFree{
    margin-top:2px; 
    margin-right:2px;   
    padding: 2;
    background-color: #f8ac59;
    color: white;
    font-size: 15px;
    width: 100%;
} */
.btn{
    margin-top:2px; 
    margin-left: 2px;
    padding: 2px;
    background-color: #f8ac59;
    color: white;
    font-size: 15px;
    width: 48%;
}